@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h3>@Model.Message</h3>

<p>You can learn more about Alertinator here. <a href="https://github.com/oyvindvik/alertinator/wiki">Alertinator Wiki</a></p>
