@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@Model.Message</h2>

<p><a href="https://twitter.com/vikviews">Twitter</a></p>
<p><a href="https://github.com/oyvindvik/alertinator">GitHub</a></p>
