@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect("/Alerts");
    }
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpeg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    No time wasted on ads and irrelevant news - more time for <strong>green</strong> tea

                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpeg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Be informed in seconds before client meetings
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpeg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Go on - conquer the world! You got the tool you need!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.jpeg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Alertinator is your news Eagle Eye
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            Alertinator is a quick way to view and receive news on topics you're interested in without having to manually look through news sites or search engines. It presents the news related to your topics without ads cluttering your view. News are constantly sourced automatically via the web and fed into this web application.
        </p>


    </div>
    <div class="col-md-4">
        <h2>Benefits</h2>
        <ul>
            <li>Be in-the-know in a snap</li>
            <li>No time wasted searching for news</li>
            <li>Your colleagues will think you got super powers</li>
            <li>It's free</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Sample uses</h2>
        <ul>
            <li>Make news come to you - not the other way around</li>
            <li>Get the latest news constantly updated on topics you choose</li>
            <li>No ads or fake news</li>
            <li>Get updated on clients, sports, hobbies and anything else</li>

        </ul>
    </div>

</div>
